@font-face {
    font-family: "Fraunces";
    src: url(./resources/fonts/Fraunces_72pt-BoldItalic.ttf);
}

@font-face {
    font-family: "Poppins";
    src: url(./resources/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(./resources/fonts/Poppins-Bold.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-size: 50px;
    font-family: Poppins;
}

.hidden {
    display: none;
}

/* LOGIN PAGE */
.container {
    display: flex;
    height: 100vh;
}

.logo_side {
    display: flex;
    background-color: #EEFAFA;
    width: 55%;
    justify-content: center;
    align-items: center;
}

.logo_side img {
    min-height: 100px;
    min-width: 100px;
    max-height: 600px;
    max-width: 600px;
}

.form_side {
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-family: Fraunces;
    color: #FFA7A7;
    font-size: 2rem;
    text-shadow: 5px 2px 4px #FFF5A6;
}

.form_side p {
    font-size: .4rem;
    margin-bottom: 10px;
}

.form_sign_in {
    width: 100%;
}

.form_side input[type=text] {
    width: 100%;
    font-size: .4rem;
    background-color: #D9D9D9;
    width: 50%;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.form_side input[type=submit] {
    width: 50%;
    margin-top: 20px;
    background-color:#FFA7A7;
    text-transform: uppercase;
    font-family: Poppins-Bold;
    font-size: .4rem;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
    padding: 13px;
    cursor: pointer;
}

.form_side span {
    margin-top: 10px;
    font-size: .4rem;
    text-decoration: underline;
}

.form_side hr {
    margin-top: 50px;
    color: #D9D9D9;
    width: 80%;
}

.span_sign_in {
    cursor: pointer;
}

.btn_create_acc {
    width: 50%;
    background-color:#9E91B8;
    text-transform: uppercase;
    font-size: .5rem;
    font-family: Poppins-Bold;
    color: #FFFFFF;
    border-radius: 30px;
    border: none;
    padding: 13px;
    margin: 30px 0px 0px;
    cursor: pointer;
}

/* NAV BAR */
.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #EEFAFA;
    height: 100vh;
    width: 50px;
    padding: 1.5rem .8rem;
    transition: all 0.5s ease;
}

.sidebar.active ~ .main-content {
    left: 18%;
    width: calc(100% - 18%);
}

.sidebar.active {
    width:15%;
}

.sidebar #btn-hamburger {
    position: absolute;
    color:#FFA7A7;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn-hamburger {
    left: 85%;
}

.sidebar .top .logo {
    max-width: 150px;
    max-height: 150px;
    display: flex;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .logo {
    opacity: 1;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 80px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 80px;
}

.sidebar ul li a {
    color: #1E1E1E;
    display: flex;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0.2rem;
}

.sidebar ul li.btn-logout a{
    position: fixed;
    bottom: 0;
}

.sidebar.active ul li.btn-logout a{
    background-color: #9E91B8;
    padding: .1rem 1rem;
    color: #FFFFFF;
    transition: all 0.5s ease;
}

.sidebar .nav-item {
    font-size: .4rem;
    font-family: Poppins-Bold;
    opacity: 0;
}

.sidebar.active .nav-item {
    font-size: .4em;
    font-family: Poppins-Bold;
    opacity: 1;
}

.sidebar ul li a i {
    min-width: 100px;
    text-align: left;
    height: 80px;
    line-height: 80px;
}

.main-content {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 5%;
    transition: all 0.5s ease;
    width: calc(100% - 5%);
    padding: 0rem 1.5rem ;
    z-index: -1;
}

.main-content .main-content-container {
    display: flex;
    flex-direction: column;
}

.main-content .main-content-container h1 {
    font-size: 1.5rem;
}

.main-content .main-content-container p, span {
    font-size: .5rem;
}


@media only screen and (max-width: 600px) {
    /* LOGIN PAGE */
    .container {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .logo_side {
        width: 100%;
    }
    .form_side {
        width: 100%;
       padding-bottom: 10%;
    }

    .logo_side img {
        max-height: 200px;
        max-width: 200px;
    }
}